.body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
}
